@import "../../root.css";

.mainMenu {
  padding: 20px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  border: var(--border-width) solid #fffb00;
  border-radius: 5px;
  margin-top: 40px;
}

.mainMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainMenu li {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.mainMenu li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.mainMenu a {
  text-decoration: none;
  color:  #616a6b;
}

