/* {box-sizing: border-box; margin: 0;} */
.mainMenu {
  padding: 20px;
  border: 5px solid #f1f1f1;
  background: #fff;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  width: 200px;
}
.mainMenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.mainMenu li {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.mainMenu li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.mainMenu a {
  text-decoration: none;
  color:  #616a6b;
  display: inline-block;
}
.mainMenu li:before {
  font-family: FontAwesome;
  font-size: 20px;
  vertical-align:bottom;
  color: #dd3333; 
  margin-right: 14px;
}
.mainMenu li:nth-child(1):before {content:"\f1fc";}
.mainMenu li:nth-child(2):before {content:"\f0d0";}
.mainMenu li:nth-child(3):before {content:"\f0cd";}
.mainMenu li:nth-child(4):before {content:"\f028";}
.mainMenu li:nth-child(5):before {content:"\f03d";}
.mainMenu li:nth-child(6):before {content:"\f03d";}
