@import "../root.css";

.eventsButtons {
    display: inline-block;
    width: 100%;
}

.changePeriodButtons {
    float: left;
    margin-top: 5px;
}

.managePeriodButtons {
    float: right;
}

.cell-div:hover {

}
