@import "../root.css";

.ingredients {
    padding: 20px;
    border: var(--border-width) solid rgb(254, 0, 199);
}

.ingredientsGrid {
    margin-top: 20px;
    width: 100%;
}

.ingredientsButtons {
    display: inline-block;
    width: 100%;
}

.nameFilteringButtons {
    float: left;
}

.addEditButtons {
    float: right;
}
