@import "./root.css";

.myRecipeApp {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: var(--border-width) solid #ff0000;
    display: flex;
}

.menuContent {
    border: var(--border-width) solid #00ff40;
    border-radius: 5px;
    width: 250px;
}

.pageContent {
    border: var(--border-width) solid #1900ff;
    border-radius: 5px;
    width: 750px;
}

